.header-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-bottom: #e2dddd solid 1px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.header-logo {
    height: 30px;
    width: 145px;
}

.header-search {
    padding: 5px 7px;
    font-size: 14px;
}

.header-logout {
    margin-right: 10px;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.6);
}

.logout {
    padding: 5px;
}

.header-nav a:hover {
    text-decoration: underline;
}

i:hover {
    cursor: pointer;
}